body {
    background-color: #101414;
}

#program {
    background-color: #e1e5ee;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 0;
    display: block;
}

.icons i {
    /* font-size: 4vw; */
    color: white;
}

.icons i:hover {
    color: gray;
    
}

.icons p {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.icons {
    margin: 0;
    width: 100%;
    top: 10vh;
    font-size: 20vh;
    position: absolute;
    text-align: center;
    color: white;
}

a {
    color: #d33f49ff;
}

code {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    background-color: rgb(53, 54, 67);
}

header p {
    margin: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
}

h1 {
    line-height: 1;
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.ListStart {
    margin-bottom: 0;
}

.Top {
    background-color: rgb(53, 54, 67);
    color: #77ba99ff;
    padding: 15px;
}

.Top #button {
    font-size: 25px;
}

.Middle {
    background-color: #ffecdc;
    color: #2d1207;
    padding: 15px;
}

.Bottom {
    background-color: #e1e5ee;
    color: #2a324b;
    padding: 15px;
}

.button {
    text-align: center;
    background-color: #d33f49ff;
    color: white;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #77ba99ff;
}

#BackButton {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#sadoaiyaimg {
    float: right;
    height: 250px;
}