#navbar {
    width: 100%;
}

ul#navbar {
    font-size: 4vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262730ff;
    padding-left: 0px;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    padding: 0.50vh;
    text-decoration: none;
    color: white;
    font-family: Verdana,sans-serif;
}

#navbar li a:hover {
    background-color: #555;
}

#navcur {
    background-color: #d33f49ff;
}

#navcur2 {
    background-color: rgb(211, 81, 90);
}
