body {
    background-color: #101414;
}

.programs {
    /* display: flex; */
    /* display: inline-block; */
    /* flex-direction: row; */
    margin-left: 7.5%;
    /* width: 2vh; */
}

.program {
    margin-top: 1%;
    overflow: hidden;
    width: 35vh;
    height: 37.5vh;
    border-radius: 2vh;
    text-align: center;
    display: inline-block;
    border-color: gray;
    border-style: solid;
    border-width: 0.1vh;
    padding: 2vh;
    margin-right: 2%;
}

.program .button {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 2.5%;
    color: white;
    font-size: 2.5vh;
    border-radius: 1vh;
    padding: 0.8vh;
}

#Desc {
    margin-top: auto;
}

#Title {
    margin: 0;
    margin-top: auto;
    /* font-size: 30px; */
    font-size: 5vh;
    padding: 0;
    line-height: 1;
    color:#5095e4;
}

#Title:hover {
    text-decoration: underline;
}

.program a {
    margin-top: auto;
    text-decoration: none;
    color: black;
    padding-top: auto;
}

.program p {
    font-size: 2.5vh;
    margin-top: auto;
    margin-bottom: 0;
    margin-top: 0;
    color: gray;
}

.program-image img {
    max-width: 35vh;
    max-height: 12.5vh;
    /* max-width: 325px; */
    /* max-height: 100px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
}
