body {
    background-color: #101414;
}

.programs {
    /* display: flex; */
    /* display: inline-block; */
    /* flex-direction: row; */
    margin-left: 75px;
    /* width: 2vh; */
}

.program {
    margin-top: 2%;
    overflow: hidden;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-right: 2%;
}

.program .button {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
}

#Desc {
    margin-top: auto;
}

#Title {
    margin: 0;
    margin-top: auto;
    font-size: 30px;
    padding: 0;
    line-height: 1;
    color:#5095e4;
}

#Title:hover {
    text-decoration: underline;
}

.program a {
    margin-top: auto;
    text-decoration: none;
    color: black;
    padding-top: auto;
}

.program p {
    margin-top: auto;
    margin-bottom: 0;
    margin-top: 0;
    color: gray;
}

.program-image img {
    max-width: 325px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
}