body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1vw;
}

canvas{
    display: block;
}

p {
    color: white;
}

h1 {
    font-size: 2.75vw;
    margin: 0.15em 0;
}


input[type=color] {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 109%;
    height: 4em;
    padding: 0;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 1em;
    border: solid white;
    padding: 0;
}
  
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 1em;
    padding: 0;
}

input[type=file]::-webkit-color-swatch {
    border: none;
    border-radius: 0.5em;
}

input[type=file] {
    width: 100%;
    padding: 0.5em;
    border-radius: 1em;
    border: solid white;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    margin-right: 2em;
    border: none;
    background: rgb(211, 81, 90);
    padding: 0.75em 1.25em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}

input[type=checkbox] {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 4em;
    padding: 0;
}

label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px solid #5095e4;
    transition: background .2s ease-in-out;
    margin: 4px;
}

#controls {
    border-radius: 0.5em;
    border: 1px solid #5095e4;
    margin: 4px;
}

label:hover {
    background-color: #344d98;
}

label input {
    margin-top: 5%;
}

main {
    width: 100%;
    color: white;
}

#side {
    width: 17.5%;
    height: 100%;
    background-color: #2a324b;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    text-align: center;
    line-height: 0.5;
}

#appDiv {
    margin-left:17.5%;
    margin-top:0;
    background-color: white;
    height: 100%;
    position:fixed!important;
}

#webgl-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

@media (orientation: portrait) {
    #side {
        width: 100%;
        height: 10%;
    }
    #appDiv {
        margin-left:0%;
        margin-top:10%;
        width: 100%;
    }
    #side {
        display: flex;
        flex-direction: left;
    }
    label {
        line-height: 2;
        width: 15%;
        padding: 1%;
    }
    #controls {
        display: none;
    }
    body {
        font-size: 1vh;
    }
}